.idea/
BrawlStarsOfflinev29 - Brawler Maker/
BrawlStarsOfflinev29/
venv/
old brawler maker stuff/
BrawlStarsOfflinev29.zip
BrawlStarsOfflinev29-BrawlerMaker.apk
BrawlStarsOfflinev29-BrawlerMaker-aligned-debugSigned.apk
BG.png
app - Copie.py
mainmenu.png
rarity.png
stopresponding.png
yourfolderisready.png
files/startfirst.bat
build/
Brawler Maker.exe
README.md
README.md
yourfolderisready.gif
super_rare_rarity.gif
rarity.gif
rare_rarity.gif
stopresponding.gif
mainmenu.gif
epic_rarity.gif
legendary_rarity.gif
mythic_rarity.gif
common_rarity.gif
BG.gif
dist/
BrawlStarsOfflinev29-AngelFire's BrawlerMaker.apk
